@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playwrite+US+Trad:wght@400&display=swap");

:root {
  --accent: rgb(251, 176, 23);
  --black: rgb(2, 2, 2);
  --dark-grey: rgb(24, 24, 24);
  --grey: rgb(139, 137, 130);
  --white: rgb(255, 255, 255);

  --bg-color: var(--dark-grey);
  --color: var(--white);
  --img-bg-color: var(--black);
  --secondary-color: var(--grey);

  --main-font: "Raleway", sans-serif;
  --main-fontsize: max(16px, 1vmin);
  --main-lineheight: 1;
  --main-margin: 3vmin;
  --title-font: "Playwrite US Trad", monospace;

  --error-msg-color: var(--grey);
  --error-msg-fontsize: 1rem;
  --error-msg-shadow: 1px 1px 2px var(--black);

  --controls-top: 2.5rem;
  --controls-lr-padding: 2.5rem;
  --max-width: 1920px;

  --button-bg-color: rgb(0, 0, 0, 50%);
  --button-border-size: 2px;

  --icon-fontsize: 1.5rem;
  --icon-padding: 1rem;

  --search-div-border-size: 1px;
  --search-cancel-button-color: var(--grey);
  --search-cancel-button-size: 1em;
  --search-div-lr-padding: 0.5em;
  --search-div-outline-color: var(--grey);

  --footer-gap: 3rem;
  --footer-padding: 3rem 2rem; /* top, left, bottom only */

  --subtitle-font-size: 2rem;
  --subtitle-letter-spacing: 0.5rem;
  --title-font-size: 3rem;

  --api-endpoint-fontsize: 1rem;
  --api-endpoints-div-fontsize: 0.8rem;
  --api-endpoints-div-gap: 0.3rem;
  --api-endpoints-span-gap: 1rem;

  --attribution-div-gap: 0.6rem;
  --attribution-fontsize: 0.6rem;

  --border-radius: calc(var(--icon-size) / 2);
  --icon-size: calc(var(--icon-fontsize) + 2 * var(--icon-padding));
}

html {
  background-color: var(--bg-color);
  color: var(--color);
  font-family: var(--main-font), sans-serif;
  font-size: var(--main-fontsize);
  font-weight: 400;
  line-height: var(--main-lineheight);
}

*,
*:before,
*:after {
  box-sizing: border-box;
  color: inherit;
  font-family: inherit;
  font-size: inherit; /* 100% */
  line-height: inherit;
  margin: 0;
  padding: 0;
  vertical-align: inherit;
}

main,
h1,
.controls,
.api-endpoints-div,
.api-endpoints-span,
.attribution-div,
.main-footer {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

body {
  height: 100vh;
  height: 100dvh;
  margin: 0 auto;
  touch-action: manipulation; /* disable double tap to zoom on some browsers*/
  width: 100%; /* or max-width -- this avoids horizontal scroll bars */
}

main {
  /* flex: 1; */
  /* height: 100%; */
  height: 100vh;
  height: 100dvh;
  min-height: 0;
  width: 100%;
}

img {
  background-color: var(--img-bg-color);
  border: none;
  display: block;
  flex: 1;
  min-height: 0;
  object-fit: scale-down;
  overflow: hidden;
  width: 100%;
}

.error-msg {
  color: var(--error-msg-color);
  font-size: var(--error-msg-fontsize);
  position: absolute;
  text-align: center;
  text-shadow: var(--error-msg-shadow);
  bottom: var(--main-margin);
  width: 100%;
}

/*CONTROLS*/

.controls {
  top: var(--controls-top);
  flex-direction: row;
  justify-content: space-between;
  padding: 0 var(--controls-lr-padding);
  position: absolute;
  width: 100%;
  max-width: var(--max-width);
}

.refresh-button,
.search-button {
  background-color: var(--button-bg-color);
  border-radius: 50%;
  border: var(--button-border-size) solid var(--accent);
  font-size: var(--icon-fontsize);
  height: var(--icon-size);
  width: var(--icon-size);
  min-height: var(--icon-size);
  min-width: var(--icon-size);
}

.search-button {
  align-items: center;
  display: flex;
  justify-content: center;
}

.search-button:has(+ input:not(.hidden)) {
  background-color: var(--accent);
}

.refresh-button:disabled {
  background-color: var(--accent);
}

.search-button {
  /* The background color is applied by .search-div */
  background-color: transparent;
  position: relative;
}

.search-div {
  background-color: var(--button-bg-color);
  border-radius: var(--border-radius);
  display: flex;
  outline: var(--search-div-border-size) solid var(--search-div-outline-color);
  outline-offset: calc(-1 * var(--search-div-border-size));
  max-width: calc(100% - 1.5 * var(--icon-size));
}

.search-input {
  background-color: transparent;
  border: none;
  caret-color: var(--accent);
  font-size: var(--icon-fontsize);
  outline: none;
  max-width: calc(100% - var(--icon-size));
  padding: 0 var(--search-div-lr-padding);
}

.search-input.hidden {
  display: none;
}

.search-input::placeholder {
  color: var(--secondary-color);
}

/* See https://stackoverflow.com/questions/22928819/override-the-webkit-search-cancel-button */
.search-input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
  background-color: var(--search-cancel-button-color);
  cursor: pointer;
  height: var(--search-cancel-button-size);
  mask-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="31.92 95.93 320.15 320.15"><!--!Font Awesome Free 6.5.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.--><path d="M342.6 150.6c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0L192 210.7 86.6 105.4c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3L146.7 256 41.4 361.4c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0L192 301.3 297.4 406.6c12.5 12.5 32.8 12.5 45.3 0s12.5-32.8 0-45.3L237.3 256 342.6 150.6z"/></svg>');
  width: var(--search-cancel-button-size);
}

/* when hover is supported */
@media not all and (hover: none) {
  .refresh-button:hover,
  .search-button:hover {
    background-color: var(--accent);
  }
}

/* FOOTER */

.main-footer {
  gap: var(--footer-gap);
  padding: var(--footer-padding);
}

h1 span:first-child {
  color: var(--accent);
  font-family: var(--title-font);
  font-size: var(--title-font-size);
}

h1 span:last-child {
  font-size: var(--subtitle-font-size);
  font-variant: small-caps;
  letter-spacing: var(--subtitle-letter-spacing);
  padding-left: var(--subtitle-letter-spacing);
  width: 100%;
}

.api-endpoints-div,
.attribution {
  text-align: center;
  width: 100%;
}

.api-endpoints-div {
  gap: var(--api-endpoints-div-gap);
}

.api-endpoints-div > p {
  font-size: var(---api-endpoints-div-fontsize);
  font-variant: small-caps;
  text-transform: lowercase;
}

.api-endpoints-span {
  flex-direction: row;
  gap: var(--api-endpoints-span-gap);
}

.api-endpoints-span > label {
  color: var(--secondary-color);
  font-size: var(--api-endpoint-fontsize);
}

.api-endpoints-span > label:has(> input:checked) {
  color: var(--color);
  text-decoration: underline var(--secondary-color);
}

.api-endpoints-span input[type="radio"] {
  appearance: none;
}

.attribution-div {
  gap: var(--attribution-div-gap);
}

.attribution {
  color: var(--secondary-color);
  font-size: var(--attribution-fontsize);
}

.attribution a {
  font-weight: bold;
  text-decoration: none;
}

/* when hover is supported */
@media not all and (hover: none) {
  .attribution a:hover,
  .api-endpoints-span > label:hover {
    color: var(--color);
  }
}
