:root {
  --black: rgb(2, 2, 2);
  --dark-grey: rgb(24, 24, 24);
  --white: rgb(255, 255, 255);
  --grey: rgb(139, 137, 130);
  --accent: rgb(251, 176, 23);

  --bg-color: var(--dark-grey);
  --color: var(--white);
  --secondary-color: var(--grey);
  --img-bg-color: var(--black);

  --main-font: Arial;
  --main-fontsize: 16px;
  --main-lineheight: 1;
  --main-margin: 3vmin;

  --controls-bottom: 10vmin;
  --controls-lr-padding: 10vmin;

  --button-border-size: 2px;
  --button-bg-color: rgb(0, 0, 0, 40%);

  --icon-fontsize: 4vmin;
  --icon-padding: 2vmin;

  --footer-padding: 2rem; /* top, left, bottom only */
  --footer-gap: 3rem;

  --api-endpoints-div-fontsize: 0.8rem;
  --api-endpoints-div-gap: 0.3rem;
  --api-endpoints-span-gap: 1rem;
  --api-endpoint-fontsize: 1rem;

  --attribution-fontsize: 0.6rem;
}

html {
  background-color: var(--bg-color);
  color: var(--color);
  font-family: var(--main-font), sans-serif;
  font-size: var(--main-fontsize);
  font-weight: 400;
  line-height: var(--main-lineheight);
}

*,
*:before,
*:after {
  font-family: inherit;
  box-sizing: border-box;
  color: inherit;
  font-size: inherit; /* 100% */
  line-height: inherit;
  margin: 0;
  padding: 0;
  vertical-align: baseline;
}

main,
/* body, */
.controls,
.api-endpoints-div,
.api-endpoints-span,
footer {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

body {
  height: 100vh;
  height: 100dvh;
  margin: 0 auto;
  touch-action: manipulation; /* disable double tap to zoom on some browsers*/
  width: 100%; /* or max-width -- this avoids horizontal scroll bars */
}

main {
  /* flex: 1; */
  /* height: 100%; */
  height: 100vh;
  height: 100dvh;
  min-height: 0;
  width: 100%;
}

img {
  background-color: var(--img-bg-color);
  border: none;
  display: block;
  flex: 1;
  min-height: 1;
  object-fit: scale-down;
  overflow: hidden;
  width: 100%;
}

.error-msg {
  position: absolute;
  text-align: center;
  top: var(--main-margin);
  width: 100%;
}

/*CONTROLS*/

.controls {
  bottom: var(--controls-bottom);
  flex-direction: row;
  justify-content: space-between;
  padding: 0 var(--controls-lr-padding);
  position: absolute;
  width: 100%;
}

.refresh-button,
.search-button {
  --icon-size: calc(var(--icon-fontsize) + 2 * var(--icon-padding));
  background-color: var(--button-bg-color);
  border: var(--button-border-size) solid var(--accent);
  border-radius: 50%;
  font-size: var(--icon-fontsize);
  height: var(--icon-size);
  width: var(--icon-size);
}

.search-button {
  display: flex;
  align-items: center;
  justify-content: center;
}

.search-input.hidden {
  display: none;
}

.search-button:has(+ input:not(.hidden)) {
  background-color: var(--accent);
}

.refresh-button:disabled {
  background-color: var(--accent);
}

/* when hover is supported */
@media not all and (hover: none) {
  .refresh-button:hover,
  .search-button:hover {
    background-color: var(--accent);
  }
}

/* FOOTER */

footer {
  gap: var(--footer-gap);
  padding: var(--footer-padding) var(--footer-padding) 0;
}

.api-endpoints-div,
.attribution {
  text-align: center;
  /* text-shadow: 1px 1px 2px var(--black); */
  width: 100%;
}

.api-endpoints-div {
  gap: var(--api-endpoints-div-gap);
}

.api-endpoints-div > p {
  font-size: var(---api-endpoints-div-fontsize);
  font-variant: small-caps;
  text-transform: lowercase;
}

.api-endpoints-span {
  gap: var(--api-endpoints-span-gap);
  flex-direction: row;
}

.api-endpoints-span > label {
  color: var(--secondary-color);
  font-size: var(--api-endpoint-fontsize);
}

.api-endpoints-span > label:has(> input:checked) {
  color: var(--color);
  text-decoration: underline var(--secondary-color);
}

.api-endpoints-span input[type="radio"] {
  appearance: none;
}

.attribution {
  color: var(--secondary-color);
  font-size: var(--attribution-fontsize);
  padding-bottom: var(--footer-padding);
}

.attribution a {
  font-weight: bold;
  text-decoration: none;
}

/* when hover is supported */
@media not all and (hover: none) {
  .attribution a:hover,
  .api-endpoints-span > label:hover {
    color: var(--color);
  }
}
